---
import { getCollection, getEntry } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";
const allTalks = (await getCollection("talks")).toSorted(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<DefaultLayout title={"ac.sno2wman.net"}>
  <section>
    <h2 class="mt-8 text-xl font-sans text-slate-950">自己紹介</h2>
    <p class="text-md mt-4 text-slate-900 font-serif">
      修士課程に居ます．
      数理論理学に主な興味があり，その中でも特に様相論理や非古典的論理に関心があります．
      それ以外には定理証明支援系による数学の形式化にも興味があります．
    </p>
  </section>

  <section>
    <h2 class="mt-8 text-xl font-sans text-slate-950">連絡先</h2>
    <p class="text-md mt-4 text-slate-900">
      <address class="not-italic font-serif">
        神戸大学大学院 システム情報学研究科 情報数理研究室
        <br />
        <a
          href="mailto:251x054x@gsuite.kobe-u.ac.jp"
          class="font-mono underline text-slate-600 text-sm"
          >251x054x@gsuite.kobe-u.ac.jp</a
        >
        <!--
					<br />
					<a	a href="mailto:me@sno2wman.net" class="font-mono underline text-slate-600 text-sm">me@sno2wman.net</a>
				 -->
      </address>
    </p>
  </section>
</DefaultLayout>
