---
import "../styles/global.css";

const { title } = Astro.props;
---
<html lang="ja">
  <head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>ac.sno2wman.net</title>
  </head>
  <body class="bg-slate-50 py-12"> 
    <div class="container mx-auto">
        <slot />
    </div>
  </body> 
</html>